<h1>Write a new note</h1>

<%= form_for @note do |f| %>
  <p>
    <%= f.label :title %><br/>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :body, 'Write Something' %><br/>
    <%= f.text_field :body %>
  </p>

  <%= f.submit 'Create Note' %>
<% end %>
