<h2>Profile Page of User <%= @user.id %></h2>

<h3>My Notes</h3>

<% if current_user.id != @user.id %>
  <% if current_user.not_followers_with?(@user.id) %>
  <%= link_to "Follow", add_follower_path(user: current_user, follower: @user), class: "btn btn-xs btn-success", method: :post %>
    <% else %>
    <%= link_to 'Unfollow', friendship_path(@user.id), method: :delete, class: "btn btn-xs btn-danger" %>
  <% end %>
<% end %>
<% @user.notes.each do |note| %>
    <p>Title: <%= note.title %></p>
    <p>Note: <%= note.body %></p>
    <% if Like.exists?(note_id: note.id) %>
      <% if Like.exists?(user_id: current_user.id) %>
        <% like_id = Like.where(["user_id = ? and note_id = ?", current_user.id, note.id]) %>
        <%= link_to 'Unlike', note_like_path(note.id, like_id), method: :delete %>
      <% end %>
    <% else %>
      <%= link_to 'Like', note_likes_path(note.id), method: :post %>
    <% end %>
<% end %>
